<div class="top-dots-bg">
    <div class="container-fluid text-center">
        <div class="spacer-150"></div>
        <form action="#">
            <label class="control-label label-xs color-o">que tal treinar antes do teste final?</label>
            <label class="control-label">Tente dizer eisenbahn
                corretamente e leve uma eisenbahn pilsen 600ML por nossa conta.</label>
            <button *ngIf="!isProcessingPractice" type="button" (mousedown)="startRecordingPractice($event)"
                (mouseup)="stopRecordingPractice($event)" (touchstart)="startRecordingPractice($event)"
                (touchend)="stopRecordingPractice($event)" class="btn btn-img mb-2 mt-2 btn-record">
                <img [src]="getRecordButtonImagePractice()" alt=""></button>

            <div class="lds-ring" *ngIf="isProcessingPractice">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <label class="control-label mb-1">pressione e segure para falar</label>

            <label class="control-label label-xs color-o" *ngIf="apiResponsePractice != ''">você disse: </label>
            <label *ngIf="apiResponsePractice != ''" class="control-label label-xs color-o">{{apiResponse}}</label>
            <div class="spacer-2"></div>
            <label class="control-label label-md mb-1">Ai <span class="colorDark-o">zem</span>bam</label>
            <label class="control-label label-md mb-0">EI <span class="colorDark-o">Sen</span>bahn</label>
            <img [src]="soundwavePractice" style="max-width: 87%;" alt="" class="Soundwave">

            <label class="control-label label-xs color-o">Estou
                pronto!</label>
            <button type="button" (click)="navigateNextPractice()" class="btn btn-img mb-1"><img
                    src="./assets/images/next-btn.png" alt=""></button>
        </form>
    </div>
</div>
<div class="bottom-bg"> <img src="./assets/images/bottom-dots.png" alt=""> </div>
