<img class="top-arrow" src="./assets/images/top-arrow-bg.png" alt="">
<div class="container-fluid text-center">
  <form action="#">
    <label class="MainTitle"><img src="./assets/images/logo.png" alt=""></label>
    <div class="form-group">
      <label class="control-label" style="line-height: 2.8rem;">seu nome é?</label>
      <div class="inputBg">
        <input class="fControl" type="text" [(ngModel)]="name" name="name" aria-label="nome" title="nome" placeholder="" value=""><!--gustavo-->
      </div>
    </div>
    <button type="button" (click)="navigateNext()" [disabled]="!valid()" class="btn btn-img"><img src="./assets/images/next-btn.png" alt=""></button>
  </form>
</div>
<div class="bottom-bg"> <img src="./assets/images/bottom-dots.png" alt=""> </div>