.modal-content {
	background: transparent;
	background-size: cover;
}
.modal-title {
	background:  transparent;
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 2.2rem;
	line-height: 2.5rem;
	font-family: 'railroad_sans_beta_01bold';
	font-weight: 900;
}
.close {
	opacity: inherit;
	text-shadow: none;
}
.modal-header .close span {
	background: url(../../assets/images/input-bg.png) left top;
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 2.7rem;
	line-height: 2.5rem;
	font-family: 'railroad_sans_beta_01bold';
    font-weight: 900;
}
.modal-content p {
	font-size: 1.4rem;
	color: #FFF;
	line-height: 1.8rem;
}
.modal-dialog-scrollable .modal-body {
	overflow-y: auto;
	height: 60vh;
}