<!-- <div class="content" role="main">
  <nav>
    <ul> -->
<!-- <li><a routerLink="age-gate">Age Gate</a></li>
      <li><a routerLink="ask-name">Name</a></li>
      <li><a routerLink="ask-cpf-number">CPF Document Number</a></li>
      <li><a routerLink="ask-restaurant-details">Restaurant Details</a></li>
      <li><a routerLink="practice-speech">Practice Speech</a></li>
      <li><a routerLink="ready-speech">Ready Speech</a></li>
      <li><a routerLink="voucher-details">Voucher Details</a></li> -->
<!-- <li><a routerLink="test-speech">Test Speech</a></li> -->
<!-- </ul>
  </nav>
</div> -->
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<app-dialog-modal class="modal policy-modal fade show" acceptpolicy="true" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true" id="politica-dialog-accept" title="Política de Privacidade">
  <table class="table-responsive">
    <tr>
      <td>
        <p class="" style="font-size:1.1rem; padding-left: 1.3rem;">
          A sua privacidade é muito importante para nós. Ao continuar a navegação, você aceita nossa 
          <a href="javascript:void(0)" (click)="openModal('politica-dialog')" style="color: white;">Política de Privacidade.</a>
          <!-- <a href="javascript:void(0)" (click)="openModal('politica-dialog')">Política de Privacidade</a> -->
        </p>
        <button type="button" style="padding: 0px 8px;float: right;font-size: 1rem;" class="btn btn-primary" (click)="acceptAndClose()">ACEITAR E FECHAR</button>
      </td>
      <td>
        
      </td>
    </tr>
  </table>






</app-dialog-modal>
<app-dialog-modal class="modal fade show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id="politica-dialog" title="Política de Privacidade">
  <p>A sua privacidade é muito importante para a HEINEKEN, pessoa jurídica de direito privado devidamente inscrita no CNPJ/MF sob o nº 19.900.000/0024-62., com sede na Rua das Olimpíadas, 205, 6º andar, CEP 04551-000, na cidade de São Paulo, Estado de São Paulo.

    Por isso, a <b>HEINEKEN</b> preparou esta Política de Privacidade (“Política”), que dispõe sobre o tratamento de dados pessoais por ela realizado em razão da presente plataforma. 
  </p><br />
  <p>
    <b>1.	QUAIS OS DADOS PESSOAIS COLETAMOS SOBRE VOCÊ?</b><br />
    Para que o usuário (“Você”), possa participar da campanha “Como pedir uma Eisenbahn?”, a HEINEKEN coleta os seguintes dados pessoais, fornecidos diretamente por Você:
  <br/><br/>
  •	Informação sobre se maior de 18 anos<br/>
•	Nome completo<br/>
•	CPF<br/>
•	Localização (no caso, o nome do estabelecimento onde você se encontra no momento da solicitação do voucher) e<br/>
•	Voz<br/>
<br />
  </p>
    <p>Você reconhece, desde já, ser o único(a) responsável pela veracidade, exatidão e autenticidade dos dados fornecidos. 
  </p><br />
  <p>
    <b>2. COMO UTILIZAMOS OS SEUS DADOS PESSOAIS?</b><br />
    Os dados pessoais coletados serão utilizados apenas as finalidades a seguir descritas:
    <br/><br/>
    •	<b>Permitir sua inscrição e participação na Campanha “Como pedir uma Einsenbahn?”:</b> Os dados pessoais coletados permitirão que a <b>HEINEKEN</b> viabilize o seu acesso à plataforma e gere o voucher da promoção, respeitando as condições de participação da promoção. <br/>

•	<b>Gerenciamento e auditoria:</b> Os dados pessoais coletados poderão ser utilizados para análise do número de inscritos, geração de relatórios gerenciais, assim como para analisar e solucionar problemas técnicos que podem ocorrer ao longo do período promocional.<br/>
•	<b>Cumprimento de obrigação legal e defesa de direitos:</b> A <b>HEINEKEN</b> poderá, ainda, utilizar os dados pessoais para fins de cumprimento de obrigação legal ou regulatória a que esteja sujeita, bem como para defesa de direitos em conflitos judiciais ou extrajudiciais, e para proteção de direitos da <b>HEINEKEN</b> e de terceiros. <br/>

•	<b>Outras finalidades:</b> Igualmente, os dados pessoais poderão ser utilizados para finalidades secundárias não conflitantes e/ou excessivas em relação as finalidades aqui listadas.<br/>

    <br/>
 
    A <b>HEINEKEN</b> trata os seus dados pessoais para as finalidades definidas nesse aviso, pois, nos termos da Lei nº 13.709/2018 (“LGPD”), uma ou mais das seguintes bases legais se aplicam:<br/><br/>
    (i)	O tratamento é necessário em decorrência da sua manifestação de vontade em participar da Campanha “Como pedir uma Einsenbahn?”<br/>
    (ii)	O tratamento decorre de obrigação legal ou regulatória a que a HEINEKEN está sujeita<br/>
    (iii)	O tratamento é necessário para que a HEINEKEN possa exercer ou defender seus direitos<br/>
    (iv)	A HEINEKEN tem interesse legítimo em tratar os dados pessoais e/ou<br/>
    (v)	Você forneceu consentimento prévio para certos tipos de tratamento de dados pessoais<br/>
  </p>
  <br />
  <p>
    <b>3.	COMO COMPARTILHAMOS OS SEUS DADOS PESSOAIS?</b><br />
    Os dados pessoais coletados podem ser compartilhados conforme a seguir descrito:
  <br /><br />
  •	<b>Parceiros:</b> Os dados poderão ser compartilhados com terceiros, empresas ou indivíduos prestadores de serviço e/ou empresas parceiras para fins viabilizar a sua inscrição e participação na campanha, para armazenamento e/ou gerenciamento de banco de dados, análise de dados para melhoria de funcionalidades, auxílio na avaliação de como a plataforma é usada, correção de erros, solução de problemas técnicos, e/ou defesa dos direitos da HEINEKEN e de terceiros.
  <br />
  •	<b>Autoridades públicas:</b> Os dados poderão ser compartilhados com autoridades policiais ou judiciais, autoridades públicas competentes ou outros terceiros, caso seja requerido pela legislação aplicável, por decisão judicial e/ou por requisição de autoridades, ou se necessário para responder a processos judiciais ou para participar em eventuais litígios ou disputas de qualquer natureza.
  <br /><br />
   As informações agregadas e anonimizadas poderão ser livremente compartilhadas pela <b>HEINEKEN.</b>
    No caso de operações societárias, como reestruturação, fusão ou venda de ativos, os seus dados pessoais poderão ser transferidos, desde que respeitados os termos desta Política de Privacidade. O mesmo poderá ocorrer nos casos de recuperação judicial ou falência.

  </p><br />
  <p>
    <b>4. COMO PROTEGEMOS OS SEUS DADOS?</b><br />
    A <b>HEINEKEN</b> envida os seus melhores esforços e aqueles comercialmente razoáveis de segurança e prevenção relativamente aos dados pessoais tratados, entre elas medidas administrativas, técnicas e físicas, para proteger dados pessoais sobre Você contra perda, roubo, uso indevido, bem como contra acesso não autorizado, divulgação, alteração e destruição.

    Em conformidade ao artigo 48 da LGPD, a <b>HEINEKEN</b> comunicará aos usuários e à Autoridade Nacional de Proteção de Dados (“ANPD”) a ocorrência de incidente de segurança que possa acarretar risco ou dano relevante aos titulares de dados pessoais.
    
  </p><br />
  <p>
    <b>5. TRANSFERÊNCIA INTERNACIONAL DE DADOS</b><br />
    As informações coletadas e tratadas são armazenadas em serviços de nuvem que podem estar localizados no Brasil ou não, porém que atendem os padrões de segurança da informação necessários à salvaguarda dos dados. 

  <b>AO CONCORDAR COM ESTA POLÍTICA, VOCÊ RECONHECE E ACEITA QUE SEUS DADOS PESSOAIS PODERÃO SER TRANSFERIDOS PARA TERCEIROS LOCALIZADOS FORA DO BRASIL PARA A REALIZAÇÃO DAS FINALIDADES AQUI DESCRITAS.</b>

  </p><br />
  <p>
    <b>6. POR QUANTO TEMPO ARMAZENAMOS OS SEUS DADOS PESSOAIS?</b><br />
    Os dados pessoais serão mantidos durante o período da campanha e enquanto necessários pra atender aos objetivos para os quais foram coletados.
  </p><br />
  <p>
    <b>7.	DIREITO DOS TITULARES</b><br />
    Ressalvados alguns contextos específicos em que determinado direito não será aplicável, você tem direito a obter da <b>HEINEKEN</b>, em relação aos dados pessoais por ela tratados, a qualquer momento e mediante requisição: 
  
<br /><br />
    •	confirmação da existência de tratamento de dados pessoais; <br />
•	acesso aos dados pessoais; <br />
•	correção de dados incompletos, inexatos ou desatualizados; <br />
•	anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto na LGPD; <br />
•	portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa e observados os segredos comercial e industrial, de acordo com a regulamentação do órgão controlador; <br />
•	exclusão de dados pessoais quando não forem mais necessários para os fins para os quais foram coletados, exceto no caso de conservação necessária autorizada pela lei;<br />
•	eliminação dos dados pessoais tratados com o seu consentimento do titular, exceto nas hipóteses previstas no artigo 16 da LGPD; <br />
•	informação das entidades públicas e privadas com as quais a <b>HEINEKEN</b> realizou uso compartilhado de dados; <br />
•	informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa; <br />
•	revogação do consentimento, nos termos do § 5º do artigo 8º da LGPD;<br />
•	opor-se ao tratamento de seus dados pessoais devido ao não cumprimento da legislação aplicável;<br />
•	fazer uma reclamação perante a ANPD.<br /><br />

  
  </p>
  
  
  
  <p>Caso queira exercer quaisquer de seus direitos ou se necessitar de auxílio para exercer seus direitos, você deve entrar em contado em sac@heineken.com.br.

    A <b>HEINEKEN</b> poderá solicitar a Você que faça prova da sua identidade quando do exercício dos direitos aqui elencados.
    
    A <b>HEINEKEN</b> empreenderá todos os esforços para atender aos pedidos de exercício de direitos e esclarecimentos no menor tempo possível e conforme disposto nesta Política de Privacidade.
    
  </p><br />
  <p>
    <b>8.	DISPOSIÇÕES GERAIS</b><br />
    Esta Política de Privacidade abrange apenas o tratamento de dados para fins da campanha “Como pedir uma Eisenbahn?” e, portanto, não se aplica a serviços que tenham Política de Privacidade separada e/ou sobre os quais a <b>HEINEKEN</b> não exerça qualquer tipo de ingerência. Além disso, esta Política de Privacidade não substitui, modifica ou amplia qualquer outra que também possa reger o seu relacionamento decorrente com a <b>HEINEKEN</b>.

    As condições especificadas nesta Política de Privacidade poderão ser modificadas a qualquer momento. Caso as modificações sejam significativas ou afetem, de forma concreta, os direitos e deveres aqui dispostos, estas serão apresentadas a você por aviso nesta mesma plataforma. Após a notificação, ao continuar utilizando a plataforma, Você concorda automaticamente com as alterações realizadas, para as hipóteses que não dependam de seu consentimento.

A presente Política de Privacidade será interpretada e regida de acordo com as leis da República Federativa do Brasil. Fica eleito o Foro Central da Comarca da Cidade de São Paulo, Estado de São Paulo para dirimir qualquer conflito originado a partir desta Política de Privacidade, sempre que possível.

  </p>
  <br/>
  <p>
    <b>Última atualização em 13 de outubro de 2020.</b>
  </p>
</app-dialog-modal>