<!-- <div class="content" role="main">
  <nav>
    <ul> -->
<!-- <li><a routerLink="age-gate">Age Gate</a></li>
      <li><a routerLink="ask-name">Name</a></li>
      <li><a routerLink="ask-cpf-number">CPF Document Number</a></li>
      <li><a routerLink="ask-restaurant-details">Restaurant Details</a></li>
      <li><a routerLink="practice-speech">Practice Speech</a></li>
      <li><a routerLink="ready-speech">Ready Speech</a></li>
      <li><a routerLink="voucher-details">Voucher Details</a></li> -->
<!-- <li><a routerLink="test-speech">Test Speech</a></li> -->
<!-- </ul>
  </nav>
</div> -->
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<app-dialog-modal class="modal policy-modal fade show" acceptpolicy="true" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true" id="politica-dialog-accept" title="Política de Privacidade">
  <table class="table-responsive">
    <tr>
      <td>
        <p class="" style="font-size:1.1rem; padding-left: 1.3rem;">
          Utilizamos cookies para melhorar a experiência na navegação e obter estatisticas das visitas. Ao continuar a
          navegação você aceita
          <a href="javascript:void(0)" (click)="openModal('politica-dialog')" style="color: white;">nossos termos.</a>
          <!-- <a href="javascript:void(0)" (click)="openModal('politica-dialog')">Política de Privacidade</a> -->
        </p>
        <button type="button" style="padding: 0px 8px;float: right;font-size: 1rem;" class="btn btn-primary" (click)="acceptAndClose()">ACEITAR E FECHAR</button>
      </td>
      <td>
        
      </td>
    </tr>
  </table>






</app-dialog-modal>
<app-dialog-modal class="modal fade show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id="politica-dialog" title="Política de Privacidade">
  <p>Essa Política de Privacidade ("Política de Privacidade") aplica-se a todos os visitantes deste Site.
    Ao acessar o Site, você expressa sua incondicional aceitação às disposições da Política de Privacidade, estando
    ciente, inclusive, que esta poderá ser alterada ao longo do tempo. Tais alterações entrarão em vigor imediatamente
    após a publicação da Política de Privacidade modificada. Convém aos usuários do Site ler regularmente a Política de
    Privacidade para se informarem sobre possíveis alterações.
    Esta Política de Privacidade fornece informações sobre o processamento de dados pessoais coletados pelo Site, bem
    como os direitos ao acesso e à correção de tais dados pessoais.
  </p><br />
  <p>
    <b>1. INFORMAÇÕES COLETADAS</b><br />
    A utilização do Site pelo usuário permite à HEINEKEN Brasil coletar: (i) todas as informações inseridas ativamente
    pelo usuário no Site, tais como: nome, data de nascimento, detalhes para contato, informações inseridas nos
    formulários no Site (e-mail, número de celular, etc.) e dados pessoais constantes em materiais enviados pelo usuário
    à HEINEKEN Brasil e (ii) dados coletados automaticamente através de cookies (vide cláusula 6).
  </p><br />
  <p>
    <b>2. USO E TRATAMENTO DAS INFORMAÇÕES COLETADAS</b><br />
    As informações coletadas pela HEINEKEN Brasil têm como finalidade: (i) oferecer serviços, conforme apresentado no
    Site; (ii) oferecer jogos on-line, conforme apresentado no Site; (iii) aprimorar os serviços já oferecidos; (iv)
    responder às perguntas formuladas por usuários, e (v) enviar informativos, mediante autorização do usuário, sobre
    quaisquer atividades atuais ou futuras da HEINEKEN Brasil.
    O usuário fornece, ainda, seu consentimento livre, expresso e informado para que a HEINEKEN Brasil utilize as
    informações obtidas por meio do Site para fins publicitários, para personalizar e aprimorar o acesso do usuário,
    além da regular prestação de serviços por meio das páginas da HEINEKEN Brasil. O usuário aceita que o tratamento e a
    utilização de todas as informações coletadas nas páginas de quaisquer das marcas HEINEKEN Brasil poderá se dar de
    forma conjunta.

  </p><br />
  <p>
    <b>3. COMPARTILHAMENTO DAS INFORMAÇÕES</b><br />
    A HEINEKEN Brasil poderá compartilhar os dados pessoais dos usuários com empresas do mesmo grupo. Além disso, a
    HEINEKEN Brasil poderá fornecer os dados pessoais dos usuários a terceiros, que processarão esses dados de acordo
    com as instruções e sob responsabilidade da HEINEKEN Brasil. Caso a HEINEKEN Brasil venda no todo ou parte os ativos
    ou ações da empresa a terceiros, dados pessoais dos usuários do Site talvez sejam fornecidos a esses terceiros. A
    HEINEKEN Brasil, ainda, poderá fornecer seus dados pessoais à autoridades, mediante ordem judicial.

  </p><br />
  <p>
    <b>4. SEGURANÇA DA INFORMAÇÃO</b><br />
    A transferência, o armazenamento e o processamento de dados pessoais coletados neste Site estão protegidos por meio
    de medidas técnicas usuais e correntes, tais como a criptografia de dados através do sistema SSL (Secure Socket
    Layer). A HEINEKEN Brasil utiliza medidas razoáveis e estabelece garantias razoáveis para ajudar a proteger os dados
    de seus usuários contra perda, roubo, mau uso e a não autorização de acesso, de divulgação, de alteração e de
    destruição. O usuário deve entender que nenhum sistema de armazenamento de dados ou transmissão de dados através da
    internet ou qualquer outra rede pública pode ter garantia de segurança. Observe que os dados coletados por terceiros
    podem não ter as mesmas proteções de segurança que os dados que nos forem enviados ou que tenhamos coletado, e que
    não somos responsáveis por proteger a segurança de tais dados.

  </p><br />
  <p>
    <b>5. ACESSO E EXCLUSÃO DOS DADOS</b><br />
    Você pode, a qualquer momento, solicitar que a HEINEKEN Brasil forneça acesso aos dados pessoais coletados a seu
    respeito. Você também pode solicitar à HEINEKEN Brasil que corrija ou exclua esses dados pessoais. Envie
    solicitações de acesso, correção ou remoção de seus dados pessoais ao endereço sac@heineken.com.br, mencionando seu
    nome e endereço postal.

  </p><br />
  <p>
    <b>6. COOKIES</b><br />
    O Site faz uso dos chamados cookies. Cookies são pequenos arquivos de texto que o Site armazena localmente em seu
    computador. O Site utiliza cookies para reconhecer você caso acesse novamente o Site. Com a utilização de cookies, a
    HEINEKEN Brasil pode tornar o Site mais amigável para o usuário e ajustá-lo às suas necessidades. Os cookies do Site
    que forem armazenados em seu computador permanecerão válidos por um período ilimitado após sua visita ao Site.
    Alterando as configurações de seu navegador, é possível determinar que você seja avisado se um cookie for armazenado
    em seu computador. Alterando as configurações, você também pode determinar que seu navegador não aceite cookies do
    Site. No entanto, se o navegador não aceitar cookies do Site, você talvez não possa acessar nem usar todos os
    recursos oferecidos.

  </p><br />
  <p>
    <b>A HEINEKEN Brasil faz uso dos seguintes cookies:</b><br />
    Cookies funcionais: cookies utilizados para melhorar a experiência dos utilizadores do Site. Por exemplo, um cookie
    é utilizado para lembrar o país preferido e as definições de idioma do utilizador e, também, para recordar a
    informação enviada na página de confirmação da idade. Sem este cookie, o utilizador teria de reenviar a página de
    confirmação da idade antes de acessar cada uma das páginas do Site. Os cookies funcionais do Site armazenados pela
    HEINEKEN Brasil no computador do utilizador só permanecem válidos durante a sua sessão no Site. Cookies analíticos:
    A HEINEKEN Brasil utiliza cookies Google Analytics com o propósito de analisar a forma como os usuários utilizam o
    Site. A HEINEKEN Brasil pode, em seguida, realizar melhorias à usabilidade do Site. O Google só processa dados
    obtidos através do Site de uma forma anônima. Maiores informações: www.google.com/analytics. Cookies de terceiros: o
    Site permite a utilização de cookies de plug-ins sociais de várias entidades externas. Isto permite que um
    utilizador compartilhe conteúdo do Site em determinadas redes sociais. Estes plug-ins também melhoram a experiência
    de utilização do Site. Por exemplo, com o plug-in do Facebook, os utilizadores podem simplesmente efetuar o registo
    no Site com os seus dados de início de sessão do Facebook. Os dados recolhidos (e a sua utilização) por estas partes
    externas através de plug-ins sociais são exclusivamente determinados por tais terceiros, uma vez que a HEINEKEN
    Brasil não consegue ler estes cookies (nem podem as referidas partes externas ler os cookies da HEINEKEN Brasil).
    Para obter informação relacionada com cookies de terceiros, deverão ler-se as respetivas políticas dos terceiros.

  </p><br />
  <p>
    <b>7. DISPOSIÇÕES GERAIS</b><br />
    Cada uma das cláusulas desta Política de Privacidade opera separadamente. Se qualquer tribunal ou autoridade
    competente decidir que qualquer um deles é ilegal ou inexequível, as cláusulas restantes permanecerão em pleno vigor
    e efeito. Essa Política de Privacidade será regida e interpretada de acordo com a legislação brasileira,
    independentemente dos conflitos dessas leis com leis de outros estados ou países, sendo competente o Foro da Comarca
    de São Paulo-SP, com exclusão de qualquer outro, para dirimir qualquer dúvida decorrente desta Política de
    Privacidade. O usuário consente, expressamente, com a competência desse juízo com exclusão de qualquer outro, por
    mais privilegiado que seja. Em caso de dúvidas relativas ao uso de cookies ou questões de privacidade, por favor
    envie um e-mail para sac@heineken.com.br.

  </p>
</app-dialog-modal>