<img class="top-arrow" src="./assets/images/top-arrow-bg.png" alt="">
<div class="container-fluid text-center">
  <form>
    <div class="spacer-10"></div>
    <div class="form-group">
      <label class="control-label color-o" >voucher disponível</label><!--style="font-size:3rem;line-height: 3.2rem;"-->
      <div class="inputBg">
        <input class="fControl" type="text" readonly [(ngModel)]="cpfNumber" aria-label="nome" name="cpfNumber" title="nome" placeholder="153.789.321.23">
      </div>
    </div>
    <div class="spacer-10"></div>
    <label class="control-label" >veja seu voucher</label><!--style="font-size: 1.7rem;"-->
    <button type="button" (click)="navigateNext()" class="btn btn-img"><img src="./assets/images/next-btn.png" alt=""></button>
  
</form>
</div>
<div class="bottom-bg"> <img src="./assets/images/bottom-dots.png" alt=""> </div>

