<img class="top-arrow" src="./assets/images/top-arrow-bg.png" alt="">
<div class="container-fluid text-center">
  <!-- <div class="container"> 
    <div class="checkbox">
       <input type="checkbox" id="checkbox" name="" value="">
       <label for="checkbox"><span>Checkbox</span></label>
    </div>
  </div> -->
  <form action="#"><i class="fas fa-check"></i>
    <label class="MainTitle mb-2 mt-2"><img src="./assets/images/logo.png" alt=""></label>
    <p class="text-center mb-2 mt-2 error-message" *ngIf="showErrorMessage">
      Desculpe, você deve ser maior de 18 anos para participar dessa Promoção
    </p>
    <p *ngIf="!showErrorMessage" class="mt-3" style="min-height: 32px;">&nbsp;</p>
    <div class="form-group">
      <label class="control-label">tem mais de <span class="label-lg color-o">18 anos?</span></label>
    </div>
    <div class="row mb-5">
      <aside class="col-6">
        <button type="button" (click)="navigateNext()"
          class="btn btn-primary btn-rounded w-100"><span>sim</span></button>
      </aside>
      <aside class="col-6">
        <button type="button" (click)="not18YearOld()"
          class="btn btn-primary btn-rounded w-100"><span>não</span></button>
      </aside>
    </div>
  </form>
  <div class="row">
    <!-- <div class="col-md-12">
      <div class="checkbox" [class.error]="isError">
        <input type="checkbox" style="padding: 4px;" id="checkboxPolicy" (change)="checkPolicyEvent()" [(ngModel)]="checkboxPolicy"
          name="checkboxPolicy" value="">
        <label for="checkbox"></label>
        <p class="text-center mb-2" style="font-size:1.1rem; padding-left: 1.3rem;">
          Eu li e aceito a
          <a href="javascript:void(0)" (click)="openModal('politica-dialog')">Política de Privacidade</a>
        </p>
      </div>     
    </div> -->
  </div>

</div>
<div class="bottom-bg"> <img src="./assets/images/bottom-dots.png" alt=""> </div>

<app-dialog-modal class="modal fade show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  id="age-not-18" title="Comentários">
  <p>Desculpe, mas você não pode participar.</p>
</app-dialog-modal>

