<img class="top-arrow" src="./assets/images/top-arrow-bg.png" alt="">
<div class="container-fluid text-center">
    <form action="#">
        <label class="color-o title-have-u-participate">você já participou do</label>
        <label class="MainTitle"><img src="./assets/images/logo.png" alt=""></label>
        <div class="form-group">
            <div class="inputBg-gray">
                <input class="red-bg-fcontrol" readonly type="text" [(ngModel)]="cpfNumber" name="name" aria-label="nome" title="nome"
                    placeholder="gustavo" value="">
            </div>
        </div>
        <label class="control-label try-again-label">volte após 7 dias do resgate do seu voucher e participe novamente.</label>
        <label class="control-label try-again-label">Aproveite e conheça um pouco mais sobre todos os estilos de eisenbahn.</label>
        <button type="button" (click)="navigateNext()" class="btn btn-img"><img
                src="./assets/images/next-btn.png" alt=""></button>
    </form>
</div>
<div class="bottom-bg"> <img src="./assets/images/bottom-dots.png" alt=""> </div>